@tailwind base;
@tailwind components;
@tailwind utilities;

.w-custom {
  min-width: 50%;
  height: 100%;
}

.wt-bg {
  background: url("../images/logo3.jpg") no-repeat center;
  background-position: left 0% top 0%;
  background-size: contain;
  height: 60vh;
}

@media screen and (max-width: 768px) {
  .wt-bg {
    background: url("../images/logo1.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  }
}

.logoh {
  height: 0;
}
@media screen and (min-width: 640px) {
  .logoh {
    height: 10vh;
  }
}
